body {
  font-family: Arial;
  padding: 20px;
  background-image: url('https://images.unsplash.com/photo-1685438436929-108c5050855d?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bW91bnQlMjB0YXJhbmFraXxlbnwwfHwwfHx8MA%3D%3D');
  background-size: cover;
  background-position: top center;
}

.styled-button {
  background-color: rgb(84, 182, 178); 
  border: none;
  color: rgb(46, 43, 43); 
  padding: 15px 32px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  position: fixed;
  top: 20px; 
  right: 20px; 
  z-index: 100;
}

.styled-button-two {
  background-color: rgb(84, 182, 178); 
  border: none;
  color: rgb(46, 43, 43); 
  padding: 15px 32px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  position: fixed;
  top: 20px; 
  right: 160px; 
  z-index: 100;
}

.styled-button-three {
  background-color: rgb(84, 182, 178); 
  border: none;
  color: rgb(46, 43, 43); 
  padding: 15px 32px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  position: fixed;
  top: 80px; 
  right: 20px; 
  z-index: 100;
}

.styled-button-four {
  background-color: rgb(84, 182, 178); 
  border: none;
  color: rgb(46, 43, 43); 
  padding: 15px 32px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  position: fixed;
  top: 80px; 
  right: 200px; 
  z-index: 100;
}

.styled-button-footer {
padding: 10px 20px;
font-size: 16px;
background-color: #007BFF;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
bottom: 20px; 
right: 160px;
z-index: 100;
}


.header {
  padding: 20px;
  border: 50px;
  margin: 10px;
  font-size: 30px;
  text-align: center;
  background: rgb(84, 182, 178);
  color: rgb(46, 43, 43);
  max-width: fit-content;
  left: 45%;
  right: 50%;
  position: static;
  top: 0;
  border-radius: 5%;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 1px;
}

.img {
  background-image: url('https://media.istockphoto.com/id/864568096/photo/the-scenic-beauty-of-the-colorado-rocky-mountains-on-the-dallas-divide.jpg?s=612x612&w=0&k=20&c=SHvL34WRfOVspbH-cCRrLw21TCU7tHWm5J_TlBy4XH4=');
  width: 100%;
  max-width: 500px;
  padding: 5px;
}

.card {
  background-color: rgb(97, 238, 229);
  padding: 25px;
  margin-top: 20px;
  max-width: fit-content;
  color: rgb(52, 56, 55);
  border-radius: 5%;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

.footer {
  text-align: center;
  background: #000000;
  margin-top: 0px;
  color: whitesmoke;
  left: 0;
  right: 0;
  position: fixed;
  bottom: 0;
  height: 50px;
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .leftcolumn,
  .rightcolumn
  .card
  .footer
  .row:after
  .header
  .body {
    width: 100%;
    padding: 0;
  }
}

body {
  font-size: 16px;
  padding: 20px;
}

@media (max-width: 480px) {
  body {
    font-size: 14px; 
    padding: 10px;  
  }
}

@media (max-width: 767px) {
  body {
    font-size: 15px;
    padding: 15px;
  }
}


@media (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}


@media (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}